.titulo{
    text-shadow: 2px 2px 5px royalblue;
}

.imgPrincipal{
    width: 100px;
}

.alerta{
    color: black;
    text-shadow: 2px 2px 5px rgb(255, 0, 0), -2px -2px 5px rgb(255, 0, 0);  
    font-size: smaller;
}