<div class="container d-flex flex-column justify-content-center align-items-center gap-4">
    <div class="d-flex flex-wrap  m-4">
      <img src="../../assets/school.png" class="imgPrincipal" alt="logo principal de aplicacion">
      <h1 class="titulo text-center p-3 m-3">Editar curso</h1>
  </div>
      <form class="col-5" [formGroup]="cursoForm" (submit)="editarCurso()">
          <div class="mb-3">
            <label for="comision" class="form-label">Número de comisión: </label>
            <input type="number" class="form-control" id="comision" placeholder="Comisión numero" formControlName="id" >
            <p class="alerta" *ngIf="cursoForm.touched && cursoForm.get('comision')?.errors?.['minlength']" >Este campo es obligatorio y debe tenes mas de 3 caracteres</p>
          </div>
          <div class="mb-3">
              <label for="cursoNombre" class="form-label">Nombre del Curso: </label>
              <input type="text" class="form-control" id="cursoNombre" placeholder="Nombre del Curso" formControlName="nombre" >
              <p class="alerta" *ngIf="cursoForm.touched && cursoForm.get('cursoNombre')?.errors?.['minlength']" >Este campo es obligatorio y debe tenes mas de 3 caracteres</p>
            </div>
            <div class="mb-3">
              <label for="profesor" class="form-label">Profesor (Nombre completo):</label>
              <input type="text" class="form-control" id="profesor" placeholder="Profesor a cargo del curso" formControlName="profesor">
              <p class="alerta" *ngIf="cursoForm.touched && cursoForm.get('profesor')?.errors?.['minlength']" >Este campo es obligatorio y debe tenes mas de 3 caracteres</p>
            </div>
            <div class="mb-3">
              <label for="fechaInicio" class="form-label">Inicio: </label>
              <input type="date" class="form-control" id="fechaInicio" placeholder="fecha de inicio" formControlName="fechaInicio">
              <p class="alerta" *ngIf="cursoForm.touched  && cursoForm.get('fechaInicio')?.errors?.['pattern']" >Por Favor, ingresa el email con un formato válido.</p>
            </div>
            <div class="mb-3">
              <label for="fechaFin" class="form-label">Fin: </label>
              <input type="date" class="form-control" id="fechaFin" placeholder="fech de finalizacion" formControlName="fechaFin">
              <p class="alerta" *ngIf="cursoForm.touched && cursoForm.get('fechaFin')?.errors?.['minlength']" >Este campo es obligatorio y debe tenes mas de 2 caracteres</p>
            </div>
            <div class="col-md-4">
              <label for="validationDefault04" class="form-label">¿Inscripcion abierta?</label>
              <select class="form-select" id="validationDefault04" required formControlName="inscripcionAbierta">
                <option value=true>abierta</option>
                <option value=false>cerrada</option>
              </select>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <button type="submit" class="btn btn-outline-primary text-white" [disabled]="cursoForm.invalid" >Editar Curso</button>
              <a routerLink="/cursos/cursos-ver" class="btn btn-outline-danger m-3">Volver</a>
            </div>
      </form>
  </div>
