.titulo{
    text-shadow: 2px 2px 5px royalblue;
}

.imgPrincipal{
    width: 100px;
}

.Angular{
    color: red;
    text-shadow: 1px 1px 1px white;
}

.otro{
    color: rgb(90, 90, 230);
    text-shadow: 1px 1px 1px white;
}