<app-navbar></app-navbar>

<div class="container d-flex flex-column justify-content-center align-items-center">

  <div class="d-flex flex-wrap justify-content-center align-items-center m-4">
      <img src="../../assets/school.png" class="imgPrincipal" alt="logo principal de aplicacion">
      <h1 class="titulo text-center p-3 m-3">Cursos</h1>   
      <a class="btn btn-outline-primary m-3 text-white" routerLink="/cursos/cursos-form" *ngIf="(token == 'admin')">Agregar Curso</a>
  </div>
  
</div>
<div class="d-flex flex-wrap justify-content-center align-items-center m-4 gap-3">

  <mat-card class="example-card" *ngFor="let curso of listaCursos$ | async">
    <mat-card-title-group>
      <mat-card-title class="text-primary pb-3" >{{curso.nombre | uppercase}}</mat-card-title>
      <mat-card-subtitle>Dictado por : {{curso.profesor}}</mat-card-subtitle>
      <mat-card-subtitle>inscripcion: {{curso.inscripcionAbierta | booleanoATexto:"abierta":"cerrada"}}</mat-card-subtitle>
      <img class="m-3" mat-card-sm-image src="../../assets/school.png" >
    </mat-card-title-group>
    <mat-card-content class="d-flex flex-column">
      <p>Inicia el : {{curso.comienzo}}</p>
      <p>Finaliza el : {{curso.finalizacion}}</p>
    </mat-card-content>
    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" *ngIf="(token == 'admin')" (click)="editar(curso)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" *ngIf="(token == 'admin')" (click)="eliminar(curso)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card>

</div>

