<div class=" login container d-flex flex-column justify-content-center align-items-center flex-wrap gap-3 p-3">
    <div class="d-flex justify-content-center align-items-center m-4">
        <img src="../../assets/school.png" class="imgPrincipal" alt="logo principal de aplicacion">
        <h1 class="titulo text-center p-3 m-3">Login</h1>   
    </div>
    <form [formGroup]="formLogin" (submit)="entrar()">
        <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email" placeholder="eve.holt@reqres.in">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="cityslicka">
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="formLogin.invalid">Submit</button>
    </form>
</div>
