.card-conteiner{
    display: flex;
    flex-direction: row;
}

.Angular{
    color: red;
}

.otro{
    color: blue;
}

.alumno{
    box-shadow: 2px 2px 5px royalblue, -2px -2px 5px royalblue;
}

.imgPrincipal{
    width: 100px;
}

.titulo{
    text-shadow: 2px 2px 5px royalblue;
}