.card-conteiner{
    display: flex;
    flex-direction: row;
}

.Angular{
    color: red;
}

.otro{
    color: blue;
}

.alumno{
    box-shadow: 2px 2px 5px rgb(110, 207, 240), -2px -2px 5px rgb(110, 207, 240);
}