<div class="container d-flex flex-column justify-content-center align-items-center gap-4">
  <div class="d-flex justify-content-center align-items-center m-4">
    <img src="../../assets/school.png" class="imgPrincipal" alt="logo principal de aplicacion">
    <h1 class="titulo text-center p-3 m-3">Registro de nuevo alumno</h1>
</div>
    <form class="col-5">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre: </label>
            <input type="text" class="form-control" id="nombre" placeholder="ingrese nombre del alumno">
          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="apellido" placeholder="ingrese apellido del alumno">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email: </label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="curso" class="form-label">Curso: </label>
            <input type="text" class="form-control" id="curso" placeholder="ingrese el curso del alumno">
          </div>
          <button type="submit" class="btn btn-outline-info text-white">Registrar</button>
    </form>


</div>